* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
form {
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 0;
    height: 100vh; /* Set the height to cover the entire viewport */
    
}



section {
    background-image: url("My Image/audi-1076316_1280.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 140vh;
    width: 100%;
}

h1 {
    color: black;
    text-align: center;
    font-size: 30px;

}

h2 {
    color: green;
    text-align: center;
}

/*
footer {
    background-color: brown;
    padding: 20px;
    text-align: center;
    color: blue;
    position: fixed;
    width: 100%;
    bottom: 0px;
    border-style: none;
    height: 10px;
}
*/
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: green;
    text-decoration: none;
    font-size: 17px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: green;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
    background: green;
}

.text-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 30px;
    color: white;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px green solid;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid green;
    background: green;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: burlywood;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav-links ul li a {
        font-size: 16px;
    }

    nav .fa {
        display: block;
        color: green;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}

.services {
    height: 100vh;
    text-align: center;
    padding-top: 60px;
    background-image: none;
    background-size: cover;
}

.services h1 {
    font-size: 36px;
    color: green;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}
.services ul {
    margin-top: 30px;
    display: block;
    justify-content: center;
    align-items: center;

}
.services ul li {
    list-style: none;
    display: block;
    padding: 8px 12px;
    position: relative;
}
/*
.services ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: green;
    display: block;
    margin: auto;
    transition: 0.5s;
}
*/
.services ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: green;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.services ul li:hover::after {
    width: 8%;
    background: green;
}
.mission {
    height: 10vh;
    text-align: center;
    padding-top: 80px;
    background-image: none;
    background-size: cover;
}
.mission h3 {
    font-size: 30px;
    color: green;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

